* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 150px;
  background: url("./images/pattern-curve.svg") no-repeat;
  z-index: -1;
}

.container {
  max-width: 1050px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.slider-text {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  color: #202046;
  margin-bottom: 30px;
  position: relative;
}

.slider-text::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 0;
  width: 120px;
  height: 100px;
  background: url("./images/pattern-quotes.svg") no-repeat center / contain;
  z-index: -1;
}

.slider-author {
  font-size: 20px;
}

.author-name {
  font-weight: 800;
  color: #202046;
}

.author-job {
  color: #babacf;
  margin-left: 5px;
}

.slider-hero {
  position: relative;
}

.slider-hero::before {
  content: "";
  position: absolute;
  width: 650px;
  height: 650px;
  background: url("./images/pattern-bg.svg") no-repeat center / contain;
  top: -120px;
  left: -120px;
  z-index: -1;
}

.hero-img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
}

.buttons {
  position: absolute;
  bottom: -20px;
  left: 40px;
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 8px 12px;
  border-radius: 30px;
}

.buttons button {
  border: none;
  background: transparent;
  cursor: pointer;
}
